{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Your Account" %}{% endblock %}

{% block content %}
<div class="w-100 bg-danger p-4 border-dark border">
  <div class="card text-center m-3 p-3 mx-auto rounded-0 border border-dark" style="max-width: 540px;">
    <div>
      <h1>{% trans "Create Your Account" %}</h1>

      <p>{% blocktrans %}Already have an account with us? Then, please <a href="{{ login_url }}"
          class="link-danger link-offset-2 link-underline link-underline-opacity-0">sign in</a>.{% endblocktrans %}
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-outline-success rounded-0 mt-4 border border-dark"><i
            class="fas fa-sign-in-alt"></i> {% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}