{% extends "base.html" %}
{% block content %}

<div class="bg-danger">
    <div class="col d-flex justify-content-center">
        <div class="card m-3 text-center rounded-0" style="max-width: 768px;">
            {% if user.is_authenticated %}
            <div class="card-header">
                <h5 class="card-title pt-2"><i class="far fa-lightbulb"></i> Consultation Service <i
                        class="far fa-lightbulb"></i></h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <p class="card-text pt-1">At AutoMate, you can avail of our trained consultants to help you take the
                        next step towards buying first second-hand car!</p>
                    <p class="card-text pt-1">Simply fill out our application form, and a consultant will be
                        in touch with you.</p>
                    <p class="card-text pt-1"><i class="fas fa-car"></i></p>
                    <a href="{% url 'application-form' %}"
                        class="btn btn-outline-danger border border-danger float-center rounded-0">Apply Now</a>
                </ul>
            </div>

            {% else %}

            <div class="card-header">
                <h5 class="card-title pt-2"><i class="far fa-lightbulb"></i> Consultation Service <i
                        class="far fa-lightbulb"></i></h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <p class="card-text pt-1">At AutoMate, you can avail of our trained consultants to help you take the
                        next step towards buying first second-hand car!</p>
                    <p class="card-text pt-1">Simply fill out our application form, and a consultant will be
                        in touch with you.</p>
                    <p class="card-text pt-1"><i class="fas fa-car"></i></p>
                    <p class="card-text pt-1 pb-1 border border-dark">To be able to avail of our consultation service
                        you must first either <a href="{% url 'account_signup' %}"
                            class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover">create an
                            account</a> or <a href="{% url 'account_login' %}"
                            class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover">sign in</a>.
                    </p>
                    </p>

                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Application Summary Cards -->
<div class="text-center">
    <hr>
    {% if user.is_authenticated %}
    <h1 class="pt-5">Your Applications</h1>
    <h5>Below, you will find summary cards of your submitted applications.</h5>
</div>
<div class="d-flex text-center flex-wrap justify-content-center mt-3">
    {% for consultation in consultations %}
    {% if user.is_authenticated and consultation.author.id == user.id %}
    <div class="card me-1 mb-4 text-start border border-danger rounded-0" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-danger text-white rounded-0"><strong>Application Id:</strong>
                {{ consultation.id }}
            </li>
            <li class="list-group-item"><strong class="text-danger">Username:</strong> {{ consultation.author }}
            </li>
            <li class="list-group-item"><strong class="text-dark">Applied on</strong> {{ consultation.created_on }}</li>
            <li class="list-group-item"><strong class="text-dark">Last updated</strong> {{ consultation.updated_on }}
            </li>
            <li class="list-group-item"><strong class="text-danger">Name:</strong> {{ consultation.first_name}}</li>
            <li class="list-group-item"><strong class="text-danger">Surname:</strong> {{ consultation.last_name}}</li>
            <li class="list-group-item"><strong class="text-danger">Birthdate:</strong> {{ consultation.birthdate }}
            </li>
            <li class="list-group-item"><strong class="text-danger">Phone:</strong> {{ consultation.phone }}</li>
            <li class="list-group-item"><strong class="text-danger">Budget:</strong> {{ consultation.budget }}</li>
            <li class="list-group-item"><strong class="text-danger">Favourite Maker:</strong>
                {{ consultation.fav_maker }}</li>
            <li class="list-group-item"><strong class="text-danger">Purpose:</strong> {{ consultation.purpose }}</li>
        </ul>
        <a href="{% url 'edit-application' consultation.pk %}" class="btn btn-outline-success border border-dark m-1 rounded-0 float-end"><i class="far fa-edit"></i> Edit Details</a>
        <button class="btn btn-outline-dark border border-dark m-1 rounded-0 float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"><strong class="text-danger"><i class="fas fa-minus-square"></i> Remove Application</strong></button>

        <!-- Remove Application Modal -->
        {% block remove_application %}
        {% include 'consultation/remove_application.html' %}
        {% endblock remove_application %}

        {% endif %}
        {% endfor %}
        {% else %}
    </div>
    <div class="bg-dark text-white pt-4 pb-4 ps-3">
        <h1>
            How Does Consultation Work?
        </h1>
        <ol>
            <li class="py-2">First, you fill up the application form provided on this page.</li>
            <li class="pb-2">Once submitted, a member of our team will review your application.</li>
            <li class="pb-2">After this process, your application will be transferred to one of our trained consultants.
            </li>
            <li class="pb-2">They will review the information you submitted, and they will contact you for a screening
                call.
            </li>
            <li class="pb-2">Service payment will be handled before the next step, after which your assigned consultant
                will
                schedule a meeting with you.</li>
            <li class="pb-2">Finally, you and your consultant will review your current financial situation and discuss
                the
                best
                course of action towards purchasing your first second-hand car.</li>
            </ul>
    </div>
    {% endif %}

    {% endblock %}