@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Mukta&display=swap');

/* GLOBAL SETTINGS */

:root {
    --main-orange: #ff1616;
}

html, body {
    height: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
    font-family: 'bitter', sans serif;
}

hr {
    color: brown;
}

.default-card-text {
    color: var(--main-orange);
}

.fs-small {
    font-size: 10px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

/* CARDS */

.banner-image {
    height: 50px;
}