{% extends 'base.html' %}
{% block content %}
<div class="bg-dark">
    <div class="col d-flex justify-content-center">
        <div class="card m-3 text-center rounded-0" style="max-width: 768px;">
            {% if user.is_authenticated %}
            <div class="card-header">
                <h5 class="card-title pt-2">Welcome, <strong class="text-danger">{{ user.username }}</strong>! <i class="fas fa-hand-sparkles"></i></h5>
            </div>
            <div class="card-body">
                <p class="card-text pt-1">Here, you will browse all blog posts published by other users.</p>
                <p class="card-text pt-1 fw-bolder">Be sure to respect our community guidlines when posting content.</p>
                <a href="{% url 'url_post_add' %}"
                    class="btn btn-outline-danger border border-dark float-center rounded-0"><i
                        class="fas fa-plus-circle"></i> Add Blog Post</a>
            </div>

            {% else %}

            <div class="card-header">
                <h5 class="card-title pt-2">Welcome To <span class="text-danger">Auto-Mate</span> Blog! <i class="fas fa-hand-sparkles"></i></h5>
            </div>
            <div class="card-body">
                <p class="card-text pt-1">Here, you will find all blog posts published by other users.</p>
                <p class="card-text pt-1 fst-italic"><i class="fas fa-info-circle"></i> If you would like to post your
                    content, please
                    <a href="{% url 'account_signup' %}"
                        class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover">create an
                        account</a> or <a href="{% url 'account_login' %}"
                        class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover">sign in</a>.</p>

            </div>
            {% endif %}
        </div>
    </div>
</div>

<hr>

<div class="row row-cols-lg-4 row-cols-md-4 g-4">

    {% for post in post_list %}

    <div class="col">
        <div class="card m-3 rounded-0 border border-danger">

            {% if "placeholder" in post.featured_image.url %}

            <a href="{% url 'post_detail' post.slug %}"><img
                    src="https://res.cloudinary.com/dqontmjhf/image/upload/v1682341482/auto-mate-logo_fygxyz.png"
                    class="card-img-top" alt="Post Featured Image"></a>

            {% else %}

            <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.featured_image.url }}"
                    class="img-fluid" /></a>

            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">Posted by <span class="fst-italic text-danger">{{ post.author }}</span> |
                    Updated
                    on <span class="fst-italic">{{ post.updated_on }}</span></p>
                <p class="card-text">
                    {{ post.excerpt }}
                </p>
                <p class="card-text text-muted h6 fst-italic"><a href="{% url 'post_detail' post.slug %}"><i
                            class="far fa-heart text-danger"></i></a>
                    {{ post.likes_numbers }}</p>

            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% if is_paginated %}

<nav aria-label="Blog page navigation">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}

        <li><a href="?page={{ page_obj.previous_page_number }}"
                class="page-link btn btn-dark border border-danger">PREV</a></li>

        {% endif %}

        {% if page_obj.has_next %}

        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn btn-danger border border-dark">NEXT</a>
        </li>

        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}