{% block comments %}
{% load crispy_forms_tags %}

<hr>
<div>
    <h4 class="mb-3">Comments...</h4>
    {% if comments %}
    {% for comment in comments %}
    <div class="card m-1 mb-3 border border-dark-subtle">
        <div class="card-body">

            {% if comment.name == "automateadmin" %}

            <p class="fs-6">Posted by <a href="#"
                    class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">{{ comment.name }}<i class="fas fa-crown"></i></a>
                on <span class="fst-italic">{{ comment.created_on }}</span></p>
            
            <p class="card-text">{{ comment.body }}</p>

            {% else %}

            <p class="fs-6">Posted by <a href="#"
                class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">{{ comment.name }}</a>
            on <span class="fst-italic">{{ comment.created_on }}</span></p>

            <p class="card-text">{{ comment.body }}</p>

            {% endif %}

    {% endfor %}

    {% else %}

    <h6 class="fw-bolder">No comments yet. Be the first one to comment!</h6>

    {% endif %}

        </div>
    </div>
</div>
<hr>

{% if commented %}

<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" /></svg>
    <div>
        Success! Your comment has been submitted and waiting admin approval.
    </div>
</div>

{% else %}


{% if user.is_authenticated %}

<h4>Leave a comment:</h4>
<p>Logged in as: <strong class="default-card-text">{{ user.username }}</strong></p>
<form method="post" style="margin-top: 1.3em;">
    {% csrf_token %}
    {{ user_comment_form | crispy }}
    <button class="btn btn-dark rounded-0 m-3 border border-danger border-start-0 float-end" type="submit">Submit
        Comment</button>
</form>

{% else %}

<h4 class="fst-italic">Please <a href="{% url 'account_login' %}"
        class="link-danger link-underline-opacity-0 link-underline-opacity-100-hover">login</a> to leave a comment.</h4>

{% endif %}
{% endif %}

{% endblock comments %}