{% extends 'base.html' %} {% block content %}

<!-- blog title card -->
<div class="container">
  <div class="jumbotron p-3 p-md-5 text-white bg-dark m-3">
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://res.cloudinary.com/dqontmjhf/image/upload/v1682368800/default-banner_idmpyd.png"
      class="img-fluid img-thumbnail" width="100%" alt="placeholder image">
    {% else %}
    <img src="{{ post.featured_image.url }}" class="img-fluid img-thumbnail">
    {% endif %}
    <div class="col-md-6 px-0 mt-3">
      <h1 class="display-4 font-italic">{{ post.title }}</h1>
      <p class="lead my-3">{{ post.excerpt }}</p>
      <p class="lead mb-3">Created by <a href="#"
          class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">{{ post.author }}</a>
      </p>
      <p class="lead fst-italic"><small>Posted: {{ post.created_on }} | Updated: {{ post.updated_on }}</small></a></p>
      <div class="row">
        <div class="col-1">
          {% if is_liked %}
          <p class="card-text default-card-text h6 me-3"><i class="fas fa-heart"></i> {{ post.likes_numbers }}</p>
          {% else %}
          <p class="card-text default-card-text h6 me-3"><i class="far fa-heart"></i> {{ post.likes_numbers }}</p>
          {% endif %}
        </div>
        <div class="col-1">
          {% with comments.count as total_comments %}
          <p class="card-text default-card-text h6 text-inline text-white"><i class="far fa-comments"></i>
            {{ total_comments }}</p>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}

  <div class="float-center">

    {% if user.id == post.author.id %}

    <button class="btn btn-outline-dark border border-danger m-1 rounded-0 float-end" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"><strong class="text-danger">Delete Blog</strong></button>
    <a href="{% url 'url_post_edit' post.slug %}"
      class="btn btn-outline-success border border-success m-1 rounded-0 float-end"><strong>Edit Blog</strong></a>

    <!-- delete post modal -->
    {% block delete_post %}
    {% include 'delete_post.html' %}
    {% endblock delete_post %}
    {% endif %}

    <form action="{% url 'url_post_like' post.slug %}" method="POST">

      {% csrf_token %}

      {% if is_liked %}

      <button type="submit" class="btn btn-danger rounded-0 mt-1 mb-1 me-2" name="blogpost_id"
        value="{{post.slug}}">Like</button>

      {% else %}

      <button class="btn btn-outline-danger rounded-0 mt-1 mb-1 me-2">Like</button>

      {% endif %}

      <a href="#comment-button" class="btn btn-outline-dark rounded-0">Comment</a>
    </form>
  </div>

  {% endif %}

</div>
<!-- main content -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <hr>
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.created_on }} by <strong class="default-card-text">{{ post.author }}</strong>
        </p>
        <p class="card-text">{{ post.content | safe }}</p>
      </div>
    </div>
    <!-- sidebar -->
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar%}
    <!-- comments -->
    {% block comments %}
    {% include 'comments.html' %}
    {% endblock comments %}
</main>

{% endblock %}